.profile-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #fff;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #fff;
}

.profile-header img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-header h1 {
  margin: 0;
  font-size: 28px;
}

.profile-details {
  margin-bottom: 30px;
}

.profile-details p {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-group button:hover {
  opacity: 0.8;
}

button.edit-btn {
  background-color: #007bff;
  color: white;
}

button.delete-btn {
  background-color: #dc3545;
  color: white;
}

button.add-job-btn {
  background-color: #28a745;
  color: white;
}

.job-list {
  margin-top: 20px;
}

.job-list h2 {
  margin-bottom: 15px;
  color: #333;
}

.job-list ul {
  list-style-type: none;
  padding: 0;
  color: #000;
}

.job-list li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.job-list li:hover {
  background-color: #f1f1f1;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form input[type="file"] {
  padding: 3px;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal-content h2{
  color: #000 !important;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-summary {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #28a745; /* Primary blue color */
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.pagination button:disabled {
  background-color: hsl(207, 84%, 13%); /* Disabled button color */
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #28a745; /* Green color for the active page */
}

.pagination button.active:hover {
  background-color: #218838; /* Darker green on hover */
}
